<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAyBuFcSe7iYU1Sk41Dah36ttD86TXngM</string>
	<key>GCM_SENDER_ID</key>
	<string>914942552899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crupd.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crupd-a2d62</string>
	<key>STORAGE_BUCKET</key>
	<string>crupd-a2d62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914942552899:ios:3d9a0ebcdd4d223a7c5df6</string>
</dict>
</plist>